    
	<h1>PROTOCOLO DE URORESONANCIA FUNCIONAL </h1> 
    
	<dl> 
    <dt>HIDRATACION: </dt>
    
   <dd> SSNN o Lactato de Ringer <%= hydration%> ml en una hora </dd>

    <dt>CATERIZACION VESICAL: </dt>
    
    <dd>Tamaño del cateter French FR <%=size%> </dd>

    <dt>ADMINISTRACION DEL DIURETICO</dt>
    
    <dd>Dosis: <%=dosis%> mg forma de dosificacion: <%=flow%> mg/ml [1mg=0.1ml]</dd>

    <dt>ADMINISTRACION DEL CONTRASTE</dt>

   <dd>Gadolinio  DTPA [Magnevist (r)] IV <%=gadolinio%> ml, inyector a flujo de <%=flowga%> ml/s con <%=volume%> ml de lavado </dd>
   
</dl>